:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --black-color: 000000;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-nav {
  color: var(--primary-text-color);
}

.link-contact {
  color: var(--secondary-text-color);
}

.link-nav:hover,
.link-contact:hover,
.link-nav:focus,
.link-contact:focus,
.current,
.logo-web {
  color: var(--brand-color);
}

/* Hero */
